<div class="content-body">
  <section id="description"
    class="card m0">
    <div class="card-header">
      <!-- <h4 class="card-title">Description</h4> -->
      <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v
          font-medium-3"></i></a>
      <!-- <div class="heading-elements">
        <ul class="list-inline mb-0">
          <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
          <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
        </ul>
      </div> -->
    </div>
    <div class="card-content"
      [style.overflow-y]="scrollStatus"
      [style.height.px]="currentHeight">
      <div class="card-body cart-body-cs">
        <ng-content></ng-content>
      </div>
    </div>
  </section>
</div>
