ul {
    list-style-type: none;
}
.cart-body-cs{
    padding: 10px;
    padding-top: 0px;
}
.navbar-dark .brand-text{
    color: white !important;
}
.navbar-light .brand-text{
    color: rgba(0,0,0,.7) !important;
}
.anticon{
    vertical-align: 0;
}